<!DOCTYPE html>
<html ng-app="acceptreject">
<head>
  <title>Accept/Reject</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="https://rawgit.com/darul75/ng-prettyjson/master/dist/ng-prettyjson.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/darul75/ng-prettyjson/master/dist/ng-prettyjson.min.css"><script>
    var app = angular.module('acceptreject', ['ngPrettyJson']);
    app.controller('arController', function($interval, $http){
      var self = this;

      var cookie = {story:document.cookie.split('story=')[1].split(';')[0]};
      var url = 'http://acceptreject.azurewebsites.net/'+cookie.story
      // var url = 'http://localhost:3333/'+cookie.story

      getStatusCode();
      getRequests();
      $interval(getRequests, 1000)

      function getStatusCode(){
        $http.get(url+'/status-code').then(function(response){
          self.statusCode = response.data
        });
      }

      function getRequests(){
        $http.get(url+'/data').then(function(response){
          self.requests = response.data.length ? response.data : [{no:'data'}]
        });
      }

      self.humanizeTimestamp = function(timestamp){
        var date = new Date(timestamp)
        return date.toString()
      }

      self.setStatusCode = function(statusCode){
        cleanStatusCode = Number(statusCode)
        if(isNaN(cleanStatusCode) && cleanStatusCode !== 0){
          console.error('statusCode',statusCode,'not a number')
        } else {
          $http.post(url+'/status-code', {statusCode: cleanStatusCode}).then(function(){
            getStatusCode();
          });
        }
      }

      self.destroyRequests = function(){
        $http.post(url+'/destroy').then(function(){
          getRequests();
        });
      }
    });
  </script>
</head>
<body ng-controller="arController as ar">
  <ol class="instructions">
    <li>Save this page URL; you'll need it to get back to this persistent page.</li>
    <li>Direct GET and POST requests to (this url + '/target').</li>
    <li>Refresh this page to see new requests ordered with most recent on top.</li>
    <li>You can set the status code for responses to test error handling.</li>
  </ol>
  <div class="status-code">
    <span>status code: {{ar.statusCode}}</span>
    <button ng-click="ar.setStatusCode(newStatusCode); newStatusCode = ''">set status code to</button>
    <input type="number" ng-model="newStatusCode">
  </div>
  <button ng-click="ar.destroyRequests()">delete requests</button>
  <div ng-repeat="request in ar.requests track by request.timeReceived | orderBy:'-'">
    <a href="#" ng-click="isHidden = !isHidden">{{ar.humanizeTimestamp(request.timeReceived)}}</a>
    <pre ng-hide="isHidden" pretty-json="request" />
  </div>
</body>
</html>
